.card{
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3.3rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 0.2s ease;
  color: #ffffff;
  border: .5px solid rgba(2, 2, 2, 0.959);
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: 400;

}

.card img {
  width: 10rem;
  object-fit: contain;
  margin-bottom: 10px;
}

.card p {
  margin: 6px 0;
  font-size: 0.95rem;
  font-weight: 500;
}
